main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}


.flex p {
    font-size: 16px;
}


.top{
    display: flex;
}

.flex button{
    background-color: brown;
    font-size: 16px;
    color: white;
    border-color: white;
    height: 30px;
}

.top input{
    font-size: 20px;
    border-radius: 5px;
}


.top button{
    background-color: cadetblue;
    font-size: 20px;
    color: white;
}